{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>IP</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for d in devices %}
        <tr>
            <td>{{ d.hostname }}</td>
            <td>{{ d.ip_address }}</td>
            <td>
                {% if d.status == "Online" %}
                    <span class="badge bg-success">Online</span>
                {% else %}
                    <span class="badge bg-danger">Offline</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
